html,body{
  overflow-x: hidden;
  	padding:0px;
	margin: 0px;
}
@font-face{
font-family:CalibriRegularimport;
src:url("MavenProRegular.ttf");
}
body {
  font-family:CalibriRegularimport;
  background-color: #ffffff;
}
@font-face{
font-family: CalibriRegularimport;
src:url("CalibriRegular.ttf");
}

/*HEADER*/
.hoursezoo-section{
	padding-top:30px;
}
.hoursezoo-section img{
	padding:0px;
	margin: 0px;
}

.hoursezoo-section h4{
	font-size: 26px;
  line-height: 5px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: lighter;
padding-bottom: 25px;
}
hr.style6 {

  border-top: 6px dotted #7A81FF;
  width:65%;
  text-align: center;
}
.menu-section{
	background-color: #5E5E5E;
	text-align: center;
	padding-top:25px;
	padding-bottom:25px;
   padding-left:50px;
	padding-right:50px;
}
 .menu-section ul .bordered-li{
	 border-right:3px solid white;

 }
.menu-section ul li{
	 display:inline;
	 text-align: center;
}
.menu-section ul li a{
	 margin: 80px;
	 	 text-align: center;
	 	 text-decoration: none;
	 	 color: white;
	 	 font-size: 28px;
	 	 letter-spacing: 2px;
	 	 font-weight: bold;
}

/*Content*/
.intro{
    width:100%;
    padding:50px;
    background-color: black;
}
.polar-animals{
}
.polar-animals .row {
	padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.polar-animals .row .column-one {
    float: left;
    width: 60%;
    }
.polar-animals .row .column-two {
    padding-top: 20%;
    float: left;
    width: 40%;
    }


.mammals{
background-color: #00FA91;
}
.mammals .row {
	padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
    .mammals .row .column-one {
    padding-top: 8%;
    float: left;
    width: 40%;
    }

.mammals .row .column-two {
    float: left;
    width: 60%;
    }




.cute-animals{
background-color: #F6A0C0;
}
.cute-animals .row {
	padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cute-animals .row .column-one {
    float: left;
    width: 60%;
    }
    .cute-animals .row .column-two {
    padding-top: 20%;
    float: left;
    width: 40%;
    }



.marine-animals{
background-color: #02FBFE;
}
.marine-animals .row {
	padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
    .marine-animals .row .column-one {
    padding-top: 10%;
    float: left;
    width: 45%;
    }

.marine-animals .row .column-two {
    float: left;
    width: 55%;
    }

/*FOOTER*/
.footer{
background-color: #000000;
}
.footer .row {
	padding: 40px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
    .footer .row .column-one {
    float: left;
    width: 33.3%;
    }

    .footer .row .column-two {
    float: left;
    width: 33.3%;
    }
        .footer .row .column-three {
    float: left;
    width: 33.3%;
    }


#footer_social ul li a{
  cursor: pointer;
}
#footer_social ul li {
	 display:inline;
}
#footer_social .fa {
  padding: 7px;
  font-size: 26px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
    background:#ffffff;
  color: #000000;
}

#footer_social .fa:hover {
    opacity: 0.7;
}


input {
	font-size: 18px;
	letter-spacing: 2px;
	word-spacing: 2px;
	padding-bottom: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #EFEFEF;
  color: #ffffff;
width: 80%;
}
::-webkit-input-placeholder { /* Edge */
  color: #396B6B;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #396B6B;
}

::placeholder {
  color: #396B6B;
}